
@import "utils/_init";

@import "gadget/_vm_resize";

@import "utils/_clearfix";

@import "view-model/editor";
@import "view-model/measure";
@import "view-model/note";

body{
  background-color: darkslategrey;
  height: 100%;
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;

  overflow-y: scroll;
  overflow-x: scroll;
}
