.edit_tag{
  position: absolute;
  display: block;

  background-color: palevioletred;
  &.selected{
    border: solid 1px dodgerblue;
    cursor: move;

    input{
      cursor: move;
    }
  }

  input{
    position: absolute;
    display: block;
    background-color: transparent;
    text-align: center;
    cursor: default;
    &:focus{
      outline: none;
      cursor: text;
    }
  }
}