.measure{
  position: absolute;
  display:block;

  height: 50px;
  width: 100px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  background-color: gold;

  border-left: black 2px solid;

  &.selected{
    background-color: bisque;
  }

  &:last-of-type{
    border-right: black 2px solid;
  }
}